@echo off
node ./src/exec ^
--input C:\chemin\du\dossier\d\entree ^
--working-dir C:\chemin\du\dossier\de\travail ^
--output C:\chemin\du\dossier\de\sortie ^
--log C:\chemin\du\dossier\de\log ^
--clean